body {
  background-color: floralwhite;
}

li {
  margin-top: 1%;
}

#titlePage {
  z-index: 10;
  background-color: floralwhite;
  position: fixed;
  width: 100vw;
  height: 100vh;
}

#submit {
  margin: 10%;
  width: 50%;
}